body{
  margin: 0;
  font-family: Arial;

  background-image: url("https://camo.githubusercontent.com/6a8b975ef934acf3056ed5bc28b38a1d29232beea5a99b877f5c4fe03e7aecc8/68747470733a2f2f692e63646e2e6e65777362797465736170702e636f6d2f696d616765732f6c36323132303232303732393135313030322e6a706567");
  background-size :cover;
  background-repeat:no-repeat;
  background-position:center;
  background-attachment:fixed; }

nav{
  background:rgba(0, 0, 0, 0.85);
  padding:12px; }

nav ul {
  list-style:none;
  display:flex;
  justify-content:center;
  margin: 0;
  padding:0;
  box-sizing=border-box; }

nav ul li {
  margin:0 15px;}

nav ul li a {
  color:orange;
  text-decoration:none;
  font-weight:bold;
  }

.hero {
  text-align:center;
  color:rgb(90, 90, 203);
  padding:50px 20px;
  background:rgba(0, 0, 0, 0.65);}

.hero img {
  width:140px;
  margin-top:15px;}

.notes{  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.note-card {
  background:rgba(255, 255, 255, 0.95);
  width:300px;
  margin:15px;
  padding:25px;
  border-radius:10px;
  text-align:center;
}

.note-card img {
  width: 100%;
  height: 180px;
  border-radius: 8px;
}

.note-card iframe {
  width: 100%;
  height: 180px;
  border: none;
  border-radius: 8px;
}

form {
  max-width:400px;
  margin : auto;
  padding:20px;
  background:rgb(245, 228, 202);
  border-radius:8px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);}

button {
  padding:10px 20px;
  border:none;
  background:#352605;
  color:white;
  border-radius: 4px;
  cursor: pointer;
}


footer {
  background:rgba(0, 0, 0, 0.9);
  color:yellow;
  text-align:center;
  padding:12px;
}
